<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muratcivek.kampsosyalmedya">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KampSosyalMedya">
        <activity
            android:name=".bildirimeGit"
            android:exported="true" />
        <activity
            android:name=".takipciler_liste"
            android:exported="true" />
        <activity
            android:name=".takip_edilenler_liste"
            android:exported="true" />
        <activity
            android:name=".profil_bilgi_guncelle"
            android:exported="true" />
        <activity
            android:name=".ayartar_tasarim"
            android:exported="true" />
        <activity
            android:name=".mesajlar_icerik"
            android:exported="true" />
        <activity
            android:name=".paylasim_yapma"
            android:exported="true" />
        <activity
            android:name=".bildirim_icerigi"
            android:exported="true" />
        <activity
            android:name=".karsi_profil_sayfasi"
            android:exported="true" />
        <activity
            android:name=".yorumlar_liste"
            android:exported="true" />
        <activity
            android:name=".olumsuzlar_liste"
            android:exported="true" />
        <activity
            android:name=".olumlular_liste"
            android:exported="true" />
        <activity
            android:name=".sifremi_unuttum"
            android:exported="true" />
        <activity
            android:name=".ana_sayfa"
            android:exported="true" />
        <activity
            android:name=".kayit_ol_sayfa"
            android:exported="true" />
        <activity
            android:name=".giris_sayfasi"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>